{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}- Funktionärssläpp{% endblock %}

{% block content %}
    <h3>Lägg till ny funkis</h3>

    <form method="post" class="form form-horizontal" action="{% url "create_worker" %}">
        {% csrf_token %}
        {{ form|crispy}}

        <div class="form-actions">
            <button type="submit" class="btn btn-large btn-success">Spara</button> <a href="{% url "search" %}" class="btn btn-large">Avbryt</a>
        </div>
    </form>
{% endblock %}
