{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}- Funktionärssläpp{% endblock %}

{% block content %}
    <h3>Lägg till ny funkis</h3>

    <form method="post" class="form form-horizontal">
        {% csrf_token %}
        {{ form|crispy}}

{% comment %}
        {% include "functionary/partials/shifts_accordion.html" %}
{% endcomment %}

        <div class="form-actions">
            <a href="{% url "search" %}" class="btn btn-danger">Avbryt</a>
            <button type="submit" class="btn btn-success">Spara</button>
        </div>
    </form>
{% endblock %}
