{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}- Funktionärssläpp{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-error">
            <h4>Ett fel uppstod!</h4>
            {{ error }}
        </div>
    {% endif %}

    <h3>Sök person</h3>
    <form method="post" class="form form-horizontal">
        {% csrf_token %}
        {{ form|crispy}}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Nästa</button><a href="{% url "search" %}" class="btn btn-danger">Avbryt</a>
        </div>
    </form>
{% endblock %}
