{% extends "base.html" %}

{% block title %}- Visa pass{% endblock %}

{% block content %}

<h3>Mina pass</h3>
<div>
    {% for reg in registrations %}
        {{ reg.shift }}
    {% empty %}
        Du är inte registrerad på några pass ännu!
    {% endfor %}
</div>

<div>
    <h3>Alla pass</h3>
    <p>Klicka på en kategori för att visa passen för denna kategori.</p>

    {% include "functionary/partials/shifts_accordion.html" %}
</div>

    {% comment %}
    {% if perms.functionary.add_shift %}
        <a href="#" class="btn btn-primary">Skapa jobbpass</a>
    {% endif %}
    {% endcomment %}

    {% if perms.auth.add_user %}
        <a href="{% url "search" %}" class="btn btn-primary">Funktionärssläpp</a>
    {% endif %}
{% endblock %}
