{% extends "base.html" %}
{% load shift_extras %}

{% block content %}
    {% for day in dates %}
        <a href="{% url "worker_check_in" day %}">{{ day|date:"l"|title }}</a> |
    {% endfor %}

    <h2>
    {% if current_date %}
        {{ current_date|date:"l"|title }}
    {% else %}
        Alla dagar
    {% endif %}
        <small>| <b>{{ total_count }}</b> st tillsatta platser av {{ total_max_workers }} st</small>
    </h2>

    <table class="table table-striped">
    {% for shift, registrations in shifts %}
        <tr>
            <th colspan="7">
                <h4>{{ shift }}
                    <small>
                         {% if shift.shift_sub_type %}| {{ shift.shift_sub_type }} {% endif %}
                         | <b>({{ registrations|length }} st / {{ shift.max_workers }} st)</b>
                    </small>
                </h4>
                {% if shift.note %}{{ shift.note }}{% endif %}
                <p><i>{% if shift.responsible_person %}{{ shift.responsible_person.get_full_name }}{% else %}Ingen ansvarig</i></p>{% endif %}
            </th>
        </tr>

        <tr>
            <th></th>
            <th>Namn</th>
            <th>Telefon</th>
            <th><abbr title="T-shirtstorlek">Storlek</abbr></th>
            <th>Avtal inlämnat</th>
        </tr>

        {% for r in registrations %}
            <tr>
                <td class="check_in_status">{% check_in_status r %}</td>
                <td><a href="{% url "add_registrations" worker_id=r.worker.pk %}">{{ r.worker }}</a></td>
                <td>{{ r.worker.phone_number }}</td>
                <td>{{ r.worker.tshirt_size }}</td>
                <td>
                    {% if r.worker.contract_approved %}
                        <span class="label label-success">Inlämnat</span>
                    {% else %}
                        <span class="label label-important">Ej inlämnat</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endblock content %}
