{% extends "base.html" %}
{% load shift_extras %}

{% block content %}
    {% for day in dates %}
        <a href="{% url "worker_check_in" day %}">{{ day|date:"l"|title }}</a> |
    {% endfor %}

    <table class="table table-striped">
    {% for shift, registrations in shifts %}
        <tr>
            <th colspan="7">
                <h4>{{ shift }}{% if shift.shift_sub_type %}<small> | {{ shift.shift_sub_type }}</small>{% endif %}</h4>
                {% if shift.note %}{{ shift.note }}{% endif %}
                <p><i>{% if shift.responsible_person %}{{ shift.responsible_person.get_full_name }}{% else %}Ingen ansvarig</i></p>{% endif %}
            </th>
        </tr>

        <tr>
            <th></th>
            <th>Namn</th>
            <th>Telefon</th>
            <th><abbr title="T-shirtstorlek">Storlek</abbr></th>
            <th>Avtal inlämnat</th>
        </tr>

        {% for r in registrations %}
            <tr>
                <td class="check_in_status">{% check_in_status r %}</td>
                <td>{{ r.worker }}</td>
                <td>{{ r.worker.phone_number }}</td>
                <td>{{ r.worker.tshirt_size }}</td>
                <td>
                    {% if r.worker.contract_approved %}
                        <span class="label label-success">Inlämnat</span>
                    {% else %}
                        <span class="label label-important">Ej inlämnat</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endblock content %}
