{% load crispy_forms_tags %}
<div id="turbo_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Bekräfta köp <small>|
            {% if worker_job_count %}
                Funktionär, uppskriven på <b>{{ worker_job_count }}</b> pass
            {% else %}
                Ny person
            {% endif %}
            </small>
        </h3>
    </div>

    {% if worker_no_contract %}
        <div class="alert alert-warning">
            <b>Avtal ej påskrivet!</b> Personen har inte lämnat in sitt funktionärsavtal
            och kommer därför inte att få någon rabatt på biljettpriset.
        </div>
    {% endif %}
    <form method="post" class="form form-horizontal turbo_confirm" id="id_turbo_modal_form">
      <div class="modal-body">
            {% csrf_token %}
            {{ ticket_type_form|crispy}}
            {{ person_form|crispy}}
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Spara och skicka faktura</button>
      </div>
    </form>
</div>
