{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>SOF 2013 Funktionär{% block title %} {% endblock %}</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
 </head>
<body>

<div class="container">
    <img src="{% static "images/tutputten-logo-small.png" %}">
    <h2>Funkis SOF 2013</h2>
        {% if user.is_authenticated %}
            <p>
                Inloggad som {{ user.get_full_name }}
                (<a href="{% url "logout" %}">Logga ut</a>)
            </p>
        {% endif %}

    {% block content %}{% endblock content %}
</div>
</body>
</html>
