{% extends "base.html" %}
{% load shift_extras %}

{% block title %}- Inloggad{% endblock %}

{% block content %}

{% if perms.auth.add_user %}
    <h4>Funktionärer</h4>
    <ul>
        <li><a href="{% url "search" %}">Sök funktionär</a></li>
        <li><a href="{% url "list_workers" %}">Alla funktionärer</a></li>
        <li><a href="{% url "workers_by_type" %}">Lista efter typ</a></li>
        <li><a href="{% url "worker_check_in" %}">Incheckning</a></li>
    </ul>
{% endif %}

<h4>Biljetter och ekonomi</h4>
<ul>
{% if perms.tickets.add_ticket %}
    <li><a href="{% url "ticket_sell" %}">Biljetter</a></li>
{% endif %}

{% if perms.tickets.add_invoice %}
    <li><a href="{% url "invoice_list" %}">Felaktiga/försenade fakturor</a></li>
    <li><a href="{% url "stats" %}">Blandad statistik</a></li>
{% endif %}
</ul>

{% endblock %}
