{% extends "base.html" %}
{% load shift_extras %}

{% block title %}- Inloggad{% endblock %}

{% block content %}

{% if perms.auth.add_user %}
    <a href="{% url "functionary_search" %}" class="btn btn-primary btn-large">Funktionärssläpp</a>
{% endif %}

{% if perms.tickets.add_ticket %}
    <a href="{% url "ticket_search" %}" class="btn btn-primary btn-large">Biljettsläpp</a>
{% endif %}

<h3>Mina funktionärspass</h3>
<div>
    <ul>
    {% for reg in registrations %}
        <li>{% shift_title reg.shift %}</li>
    {% empty %}
        Du är inte registrerad på några pass ännu!
    {% endfor %}
    </ul>
</div>

{% comment %}
<div>
    <h3>Alla pass</h3>
    <p>Klicka på en kategori för att visa passen för denna kategori. Dubbelklicka på ett pass för att anmäla dig.</p>

    {% include "functionary/partials/shifts_accordion.html" %}
</div>
{% endcomment %}

    {% comment %}
    {% if perms.functionary.add_shift %}
        <a href="#" class="btn btn-primary">Skapa jobbpass</a>
    {% endif %}
    {% endcomment %}
{% endblock %}
