{% extends "base.html" %}
{% load ticket_status %}

{% block title %} - Biljettsläpp{% endblock %}

{% block content %}
<h3>{{ person }}<small> | {{ person.get_type_name }}</small></h3>

<dl class="dl-horizontal">

    <dt>Typ</dt>
    <dd>{{ person.get_type_name }}</dd>

    <dt>LinTek-medlem</dt>
    <dd>{{ person.lintek_member|yesno:"Ja,Nej" }}</dd>

    {% if person.is_worker %}
        <dt>Antal jobbpass</dt>
        <dd>{{ person.job_count }} st</dd>

        <dt>Funktionärsavtal</dt>
        <dd>{% if person.contract_approved %}
                <span class="label label-success">Inlämnat</span>
            {% else %}
                <span class="label label-important">Ej inlämnat</span>
            {% endif %}</dd>
    {% endif %}
</dl>

{% for invoice in invoices %}
    <hr>
    <h4>Faktura <small>{{ invoice.ocr }}</small></h4>

    <ul>
    {% for ticket in invoice.ticket_set.all %}
        <li>{{ ticket.ticket_type }}</li>
    {% endfor %}
    </ul>

    {% if not invoice.is_verified %}
        <span class="label label-important">Obekräftat online-köp</span><br>
        Personen har inte fått någon faktura eller biljett och köpet har inte gått igenom ännu.
    {% endif %}

    <dl class="dl-horizontal">
        <dt>Betalstatus</dt>
        <dd>{% payment_status invoice.get_payment_status %}</dd>

        <dt>Utlämningsstatus</dt>
        <dd>{% handed_out_status invoice.is_handed_out %}</dd>

        <dt>Totalbelopp</dt>
        <dd>{{ invoice.get_total_price|floatformat:2 }} kr</dd>

        <dt>Betalt belopp</dt>
        <dd>{{ invoice.get_payment_sum|floatformat:2 }} kr</dd>
    </dl>

    <a class="btn" href="{% url "set_handed_out" invoice.pk %}"><i class="icon-ok"></i> Markera som utlämnad</a><br>
    <a class="btn" href="{% url "add_trappan" invoice.pk %}"><i class="icon-plus"></i> Lägg till trappan-fest</a><br>

    {% if perms.tickets.add_invoice %}
        <a class="btn" href="{% url "send_email" invoice.pk %}"><i class="icon-envelope"></i> Skicka via e-post</a><br>
        {% if not invoice.payment_set.exists %}
            <a href="{% url "set_paid" invoice.pk %}" class="btn"><i class="icon-star"></i> Lägg till fullständig betalning</a>
        {% endif %}
    {% endif %}

{% empty %}
    Det finns inga fakturor för denna person
{% endfor %}

{% for invoice in special_invoices %}
    <hr>
    <h4>Specialfaktura <small>{{ invoice.ocr }}</small></h4>
    {{ invoice.specification|linebreaksbr }}

    <dl class="dl-horizontal">
        <dt>Betalstatus</dt>
        <dd>
            {% if invoice.is_paid %}
            <span class="label label-success">
                Betald
            </span>
            {% else %}
            <span class="label label-important">
                Ej betald
            </span>
            {% endif %}
        </dd>

        <dt>Utlämningsstatus</dt>
        <dd>{% handed_out_status invoice.is_handed_out %}</dd>

        <dt>Totalbelopp</dt>
        <dd>{{ invoice.total_price|floatformat:2 }} kr</dd>
    </dl>

    <div class="alert alert-error">
    <b>OBS!</b> Personen som hämtar ut denna order skall skriva på ett avtal där
    personen försäkrar att armbanden kommer till rätt person.
    </div>

    <a class="btn" href="{% url "set_handed_out_special" invoice.pk %}"><i class="icon-ok"></i> Markera som utlämnad</a><br>
{% endfor %}

<hr>
<div>
    <a class="btn btn-primary" href="{% url "ticket_sell" %}">Tillbaka</a>
</div>
{% endblock %}
