{% extends "base.html" %}
{% load ticket_status %}

{% block title %} - Biljettsläpp{% endblock %}

{% block content %}
<h3>{{ person }}<small> | {{ person.get_instance.get_type }}</small></h3>

<dl class="dl-horizontal">
    <dt>LinTek-medlem</dt>
    <dd>{{ person.lintek_member|yesno:"Ja,Nej" }}</dd>

    <dt>Funktionär/besökare</dt>
    <dd>{{ person.get_instance.get_type }}</dd>
</dl>

{% for invoice in invoices %}
    <hr>
    <h4>Faktura <small>{{ invoice.ocr }}</small></h4>
    <ul>
    {% for ticket in invoice.ticket_set.all %}
        <li>1x <b>{{ ticket.ticket_type }}</b> á {{ ticket.ticket_type.price }} kr</li>
    {% endfor %}
    </ul>

    <dl class="dl-horizontal">
        <dt>Betalstatus</dt>
        {% payment_status invoice.get_payment_status %}

        <dt>Utlämningsstatus</dt>
        {% handed_out_status invoice.is_handed_out %}
    </dl>

    <a class="btn" href="">Markera som utlämnad</a>

{% empty %}
    Det finns inga fakturor för denna person
{% endfor %}

<hr>
<div>
    <a class="btn btn-primary" href="{% url "ticket_sell" %}">Tillbaka</a>
</div>
{% endblock %}
