{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} - Köp biljett{% endblock %}

{% block content %}
<h2>Biljettköp för LiU-studenter</h2>

{% if error %}
    <div class="alert alert-error">
        <h4>Ett fel uppstod!</h4>
        {{ error }}
    </div>
{% endif %}

{% if success %}
    <div class="alert alert-success">
        <h4>Sisådär ja!</h4>
        En bekräftelselänk har skickats till din studentmail. Klicka på denna
        för att bekräfta din beställning.
    </div>
{% endif %}

<p>
    Fyll i ditt LiU-ID nedan. En bekräftelselänk kommer att skickas till din studentmail.
    När du bekräftat ditt köp via länken kommer en faktura att skickas till din e-postadress.
    Fakturan måste betalas inom 14 dagar, annars riskerar du en påminnelseavgift på 50 kr.
</p>
<p>
    Är du inte LiU-student men vill köpa biljett kan du fylla i
    <a href="https://docs.google.com/forms/d/1HyJYIDbYo__N3lxNcjWhhKILVukWJV6gFESBYpYR4Hw/viewform" target="_blank">detta formulär</a>.
    Observera att köp via detta formulär registreras manuellt, vilket kan ta upp till några dagar. Vänligen observera att det är <b>inte</b> är möjligt använda detta formulär för att ändra biljettyp, e-postadress eller liknande.
    Du kan även komma förbi utanför C4 de tider vi sitter där. Mer information finns på
    <a href="http://www.sof13.se" target="_blank">hemsidan</a>.
</p>
<p>
    Vid frågor eller problem, släng iväg ett mejl till <a href="mailto:biljett@sof13.se">biljett@sof13.se</a>.
    Har du redan köpt biljett till helhelgen men vill lägga till Trappanfesten så är
    det bara att slänga iväg ett mejl till samma adress innehållandes LiU-ID eller
    personnummer så fixar vi det.<br/>
</p>
<p>
    Läs även <a href="http://www.sof13.se/biljetter/betal-och-leveransvillkor" target="_blank">betal- och leveransvillkoren</a>.
</p>

<form method="post" class="form form-horizontal">
    {% csrf_token %}
    {{ ticket_type_form|crispy}}
    {{ liu_id_form|crispy}}

    <div class="form-actions">
        <button type="submit" class="btn btn-large btn-primary">Skicka</button>
    </div>
</form>

{% endblock %}
