{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} - Köp biljett{% endblock %}

{% block content %}
<h2>Online-biljettköpet är stängt</h2>

<p>
    Du är välkommen att köpa din biljett på plats vid biljettutlämningen som ligger precis
    vid ingången till området, bakom Zenit-huset, Campus Valla.
    Obeservera att betalningen för din biljett fortfarande sker via faktura, ej kontant.
</p>
<p>
    Har du redan köpt en biljett men vill lägga till någon annan typ av biljett,
    går det utmärkt att köpa till den nya biljetten <b>vid biljettutlämningen</b>.
    Vid övriga frågor eller problem med <b>befintliga</b> biljetter, släng iväg ett mejl till <a href="mailto:biljett@sof13.se">biljett@sof13.se</a>.
</p>
<p>
    Läs även <a href="http://www.sof13.se/biljetter/betal-och-leveransvillkor" target="_blank">betal- och leveransvillkoren</a>.
</p>
{% endblock %}
