{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} - Köp biljett{% endblock %}

{% block content %}
<h2>Biljettköp för icke LiU-studenter</h2>

{% if error %}
    <div class="alert alert-error">
        <h4>Ett fel uppstod!</h4>
        {{ error }}
    </div>
{% endif %}

{% if success %}
    <div class="alert alert-success">
        <h4>Sisådär ja!</h4>
        En bekräftelselänk har skickats till din e-postadress. Klicka på denna
        för att bekräfta din beställning.
    </div>
{% endif %}

<p>
    Är du LiU-student? Gå till <a href="{% url "public_sell" %}">bijettköpet för LiU-studenter</a>.
</p>
<p>
    Fyll i personuppgifter och e-postadress nedan. En bekräftelselänk kommer att skickas till den
    e-postadress du anger. När du bekräftat ditt köp via länken kommer en faktura att skickas via e-post.
    Fakturan måste betalas inom 14 dagar, annars riskerar du en påminnelseavgift på 50 kr.
</p>
<p>
    Har du redan köpt en biljett men vill lägga till någon annan typ av biljett,
    går det utmärkt att köpa till den nya biljetten <b>vid biljettutlämningen</b>.
    Vid frågor eller problem, släng iväg ett mejl till <a href="mailto:biljett@sof13.se">biljett@sof13.se</a>.
   <br/>
</p>
<p>
    Läs även <a href="http://www.sof13.se/biljetter/betal-och-leveransvillkor" target="_blank">betal- och leveransvillkoren</a>.
</p>

<form method="post" class="form form-horizontal">
    {% csrf_token %}
    {{ ticket_type_form|crispy}}
    {{ visitor_form|crispy}}

    <div class="form-actions">
        <button type="submit" class="btn btn-large btn-primary">Skicka</button>
    </div>
</form>

{% endblock %}
