{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} - Biljettsläpp{% endblock %}

<p>
    Läs gärna <a href="http://www.sof13.se/biljetter/betal-och-leveransvillkor" target="_blank">betal- och leveransvillkoren</a>
    för att kunna svara på frågor.
</p>

{% block content %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#turbo" data-toggle="tab">Turbosälj</a>
        </li>
        <li>
            <a href="#detailed" data-toggle="tab">Manuell besökare</a>
        </li>
        <li>
            <a href="#existing" data-toggle="tab">Befintlig besökare</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="turbo">
            {% include "tickets/partials/turbo.html" %}
        </div>

        <div class="tab-pane" id="detailed">
            {% include "tickets/partials/detailed.html" %}
        </div>

        <div class="tab-pane" id="existing">
            {% include "tickets/partials/existing.html" %}
        </div>
    </div>

    <div>
        <h4>10 senast sålda biljetter</h4>

        <ul>
        {% for ticket in latest_tickets %}
            <li>{{ ticket.ticket_type }} - <b>{{ ticket.invoice.person }}</b> ({{ ticket.sell_date|timesince }} sedan)</li>
        {% endfor %}
        </ul>
    </div>

    <div>
        <h4>Statistik</h4>
        <ul>
        {% for ticket_type in ticket_stats %}
            <li><b>{{ ticket_type }}</b> -
            {{ ticket_type.sold }} / {{ ticket_type.max_amount }}</li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
