{% load shift_extras %}
<div class="accordion" id="shift_accordion">
    {% for shift_type, shifts in all_shifts %}
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#c{{ forloop.counter }}">
            &#9662; {{ shift_type }}
        </a>
        </div>
        <div id="c{{ forloop.counter }}" class="accordion-body collapse">
        {% for shift in shifts %}
            <div>
                <a href="#" class="add_worker" data-shift="{{ shift.pk }}">
                    {% shift_title shift 'place_count' %}
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    {% empty %}
        Det finns inga lediga pass!
    {% endfor %}
</div>
