.shift {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.signed-up {
    background: #D4FFBF;
}

.accordion-heading > .accordion-toggle:focus {
    outline: 0;
    text-decoration: none;
}

.accordion-group {
    margin-top: 10px;
}
