.shift {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.signed-up {
    background: #D4FFBF;
}

.accordion-heading {
    font-weight: bold;
    background-color: #eee;
}

.accordion-heading > .accordion-toggle:focus {
    outline: 0;
    text-decoration: none;
}

.accordion-group {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

div > .btn {
    margin-top: 13px;
}

.container {
    padding-bottom: 70px;
}
