{% extends "base.html" %}

{% block content %}
<h3>Orkesteradmin</h3>

<ul>
    <li><a href="{% url statistics %}">Statistik och biljetter</a></li>
    <li><a href="{% url orchestra_list %}">Orkestrar</a></li>
    <li><a href="{% url gadgets %}">Prylar</a></li>
    <li><a href="{% url sitting %}">Sittningar</a></li>
    <li><a href="{% url food %}">Middag</a></li>
    <li><a href="{% url press %}">Tidningsfrågor</a></li>
    <li><a href="{% url admin:index %}">Django-admin</a></li>
</ul>

{% endblock content %}
