{% extends "base.html" %}
{% load utils %}

{% block content %}
    <h3>{{ orchestra }} <small> | <b>{{ members|length }}</b> personer anmälda</small></h3>

    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Namn</th>
            <th>Person-/födelsenr</th>
            <th>Boende</th>
            <th>Sittning</th>
            <th>Biljettyp</th>
        </tr>
    {% for member in members %}
        <tr {% if member.pk == member_pk %}id="highlight"{% endif %}>
            {% if member.unregistered %}
                <td><span class="label label-warning">Avregistrerad</span></td>
            {% else %}
                <td>{% if not member.ticket_handed_out %}
                    <button class="btn btn-small toggle_handed_out" data-member="{{ member.pk }}">Lämna ut</button>
                {% else %}
                    <button class="btn btn-small btn-danger toggle_handed_out" data-member="{{ member.pk }}">Utlämnad</button>
                {% endif %}</td>
            {% endif %}

            <td>{{ member }}</td>
            <td>{{ member.formatted_pid }}</td>
            <td>{% if member.needs_bed|boolify %}
                <span class="label label-success">Boende</span>
            {% endif %}</td>
            <td>{% if member.attend_sitting|boolify %}
                <span class="label label-info">Sittning</span>
            {% endif %}</td>
            <td>{{ member.get_ticket_type_display }}</td>
        </tr>
    {% endfor %}
    </table>

    <div class="alert alert-important">
        <h4>Lämna ut alla i klump</h4>
        Tänk på att inte lämna ut armband för de orkestermedlemmar som redan markerats som utlämnade.

        <div><a class="btn btn-warning" href="{% url set_all_handed_out token=orchestra.token %}">Markera alla som utlämnade</a></div>
    </div>

    <a href="{% url check_in %}" class="btn btn-primary">Tillbaka</a>

{% endblock content %}
