{% extends "base.html" %}
{% load utils %}

{% block content %}
<h3>Prylar</h3>

{% for orchestra in orchestras %}
    <h4>{{ orchestra }} <small> <a href="{% url member_list orchestra.token %}">Visa</a></small></h4>
    <table class="table table-striped table-hover" style="max-width: 300px">
        <tr>
            <th>Pryl</th>
            <th>Antal</th>
        </tr>

    {% for gtype, name in gadget_types  %}
        {% if orchestra.totals|get:gtype %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ orchestra.totals|get:gtype }} st</td>
        </tr>
        {% endif %}
    {% endfor %}

    </table>
{% endfor %}

<h4>Totalt</h4>
<table class="table table-striped table-hover" style="max-width: 300px">
{% for gtype, name in gadget_types  %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ totals|get:gtype }} st</td>
    </tr>
{% endfor %}
</table>

{% endblock content %}
