{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>Registrera ny person</h3>
    <p>
        Du kommer att läggas till i orkestern <b>{{ orchestra }}</b>.
    </p>
    <p>
        Har du redan registerat dig i en annan orkester?<br>
        I sådana fall behöver du inte skriva in alla dina uppgifter igen.
        <a href="{% url add_member token=orchestra.token %}">Klicka här</a>
    </p>

    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}

        <p>
            Ditt personnummer behövs för att kunna identifiera dig på området,
            samt för att kunna registrera samma person till olika orkestrar. <br>
            Om du saknar ett svensk personnummer kan du ange ditt födelsenummer istället (på formatet ÅÅMMDD).
        </p>

        <input type="submit" value="Skicka in" class="btn btn-primary btn-large">
    </form>
{% endblock content %}
