{% extends "base.html" %}
{% load utils %}

{% block content %}
    <h3>{{ orchestra }} <small> | <b>{{ members|length }}</b> personer anmälda</small></h3>

    {% if members %}
    <table class="table table-striped">
        <tr>
            <th>Namn</th>
            <th>Biljettyp</th>
            <th>Sittning</th>
            <th>Sovplats</th>
            <th>Prylar</th>
            <th></th>
        </tr>
    {% for member in members %}
        <tr>
            <td><a href="mailto:{{ member.email }}">{{ member }}</a></td>
            <td>{{ member.get_ticket_type_display }}</td>
            <td>{{ member.attend_sitting|boolify|yesno:"Ja,Nej" }}</td>
            <td>{{ member.needs_bed|boolify|yesno:"Ja,Nej" }}</td>
            <td>{{ member.get_gadgets_display }}</td>
            <td><b>{{ member.get_attends_display }}</b>
                {% if member.late_registration %} <span class="label label-important">Sen anmälan</span>{% endif %}
                {% if member.multiple_orchestras %} <span class="label label-info">Flera orkestrar</span>{% endif %}</td>
        </tr>
    {% endfor %}
    </table>

    {% else %}
        <p>Ingen ha anmält sig ännu. Bli den första!</p>
    {% endif %}
     <a href="{% url member_form token=orchestra.token %}">Registrera ny person</a>

{% endblock content %}
