{% extends "base.html" %}
{% load utils %}

{% block content %}
<table class="table table-striped table-hover">
    <tr>
        <th>Orkester</th>
        <th>Anmälda</th>
        <th>Sittning</th>

        {% for ttype, name in ticket_types  %}
            <th>{{ name }}</th>
        {% endfor %}
    </tr>

{% for orchestra in orchestras %}
    <tr>
        <td><a href="{% url member_list orchestra.token %}">{{ orchestra }}</a></td>
        <td>{{ orchestra.totals.members }} st</td>
        <td>{{ orchestra.totals.sitting }} st</td>

        {% for ttype, name in ticket_types  %}
            <td>{{ orchestra.totals|get:ttype|default_if_none:0 }} st</td>
        {% endfor %}
    </tr>
{% endfor %}

    <tfoot>
        <tr>
            <th>Totalt (unika personer)</th>
            <th>{{ totals.members }} st</th>
            <th>{{ totals.sitting }} st</th>

            {% for ttype, name in ticket_types  %}
                <th>{{ totals|get:ttype }} st</th>
            {% endfor %}
        </tr>
    </tfoot>
</table>

{% endblock content %}
