{% extends "base.html" %}

{% block content %}
    <h2>Man tackar!</h2>
    <p>Vi har nu tagit emot anmälan. Tutputten har skickat ett mail till
        kontaktpersonens e-postadress, med en bekräftelse.
    </p>
    <p>
        I bekräftelsemailet finns en länk, som används för att lägga till
        orkesterdeltagare. Sprid denna länk till övriga deltagare via mail
        eller liknande, och kom ihåg att lägga till dig själv!
    </p>

    <p>
        <a href="{% url home %}">Orkesteranmälan</a><br>
        <a href="http://www.sof13.se/">sof13.se</a>
    </p>

{% endblock content %}
