{% extends "base.html" %}

{% block content %}
    <h3>Registrera ny person</h3>
    <p>
        Du kommer att läggas till i orkestern <b>{{ orchestra }}</b>.
    </p>
    <p>
        Har du redan registerat dig i en annan orkester?<br>
        I sådana fall behöver du inte skriva in alla dina uppgifter igen.
        <a href="{% url add_member token=orchestra.token %}">Klicka här</a>
    </p>


    <form method="post" action="">
        {% csrf_token %}
        <ul>
            {% for field in form %}
                <li>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }} {% if field.field.required %}*{% endif %}
                </li>
            {% endfor %}
        </ul>

        <input type="submit" value="Skicka in" class="btn btn-primary btn-large">
    </form>
{% endblock content %}
