{% extends "base.html" %}

{% block content %}

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.field.title %}
                    <h3 class="form-title">{{ field.field.title }}</h3>
                {% endif %}

                {% if field.field.extra_text %}
                    <li class="extra">{{ field.field.extra_text }}</li>
                {% endif %}

                <li>
                    {{ field.label_tag }} {{ field }} {% if field.field.required %}*{% endif %}
                    {{ field.errors }}
                </li>
            {% endfor %}
        </ul>

        <input type="submit" value="Skicka in" class="btn btn-primary btn-large">
    </form>
{% endblock content %}
