{% extends "cortege/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h4>Kårtegebidrags-anmälan</h4>

        <ul>
            <li><a href="http://www.sof13.se/info/kartegen/kartegebidrag/">Om kårtegebidrag</a></li>
            <li><a href="http://www.sof13.se/info/kartegen/prisuppgifter/">Prisuppgifter</a></li>
        </ul>


    <form method="post" class="form">
        {% csrf_token %}

        {{ form|crispy }}

        <input type="submit" value="Skicka in" class="btn btn-primary btn-large">
    </form>
{% endblock content %}
